*.err
*.out
*.tar.gz
*.pyc
__pycache__
*egg-info
slurm/
inpainting_tests/
test_fkon/
my_script*
script_vae*
misc/
plots*/
*cpu_results.json
*mask_results.json
*gemma_results.json
test_train_fitting_metrics/